covid_project/covid_project/secret.py
covid_project/covid_project/__pycache__/
covid_project/who_data/__pycache__/
covid_project/who_data/migrations/__pycache__/
covid_project/who_data/whodata.csv
covid_project/.vscode
.vscode
covid_project/.idea/
covid_project/frontend/node_modules/
covid_project/frontend/__pycache__/
covid_project/frontend/migrations/__pycache__/
covid_project/frontend/static/frontend/312f78351bae73d9d7e7b6917722d114.jpeg
covid_project/frontend/static/frontend/main.js.LICENSE.txt
